.fw-bold {
    font-weight: bold;
}

.fs-italic {
    font-style: italic;
}

.container {
    width: 100%;
    height: 300px;

    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    border: 1px solid #000000;
    overflow: auto;
}

.list-item {
    padding: 15px;
    border-bottom: solid 2px #000000;
}